<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtpsNTDfoCVz9um3TDdgCzk3G_89LR16g</string>
	<key>GCM_SENDER_ID</key>
	<string>270052502617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prodvssw.98.A-day-is-no-longer-24-hours</string>
	<key>PROJECT_ID</key>
	<string>a-day-is-no-longer-24-hours</string>
	<key>STORAGE_BUCKET</key>
	<string>a-day-is-no-longer-24-hours.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270052502617:ios:115ffeef811bbcc6e81548</string>
</dict>
</plist>